.controller-tree
	.tree.node.container{ 'data-uuid' => "root" }
		.children
		%button.btn-link{ :type => "button", :name => "add_child" } Create first node
	%script{ :type => "text/x-handlebars-template", :class => "node_template" }
		.node{ 'data-uuid' => "{{uuid}}" }
			.body
				.hierarchy_no
				.id {{uuid}}
				%button.btn-link{ :type => "button", :name => "add_before" } add
				%button.btn-link{ :type => "button", :name => "add_after" } add
				%button.btn-link{ :type => "button", :name => "add_child" } Add child
				%button.btn-link{ :type => "button", :name => "destroy" } Destroy
			.children

= javascript_include_tag 'tree'
